This is the stuff for 02/14

- for loops
- functions
- objects

In [1]:
namelist = ["Chase", "Spencer", "Dave", "Glenn"]

In [2]:
type(namelist)

list

In [3]:
whos

Variable   Type    Data/Info
----------------------------
namelist   list    n=4

In [4]:
len(namelist)

4

In [5]:
namelist

['Chase', 'Spencer', 'Dave', 'Glenn']

In [7]:
for banana in namelist:
    print(banana)

Chase
Spencer
Dave
Glenn

In [8]:
numlist = [4, -2, 5]

In [14]:
total = 0

for num in numlist:
    #print(num)
    total = total + (num / len(numlist))
    #print(total)
    
print(total)

2.3333333333333335

In [15]:
word = "anything"

In [16]:
type(word)

str

In [20]:
for letter in word:
    print(letter, end='*')

a*n*y*t*h*i*n*g*

In [18]:
print?

In [22]:
vowels = "aeiouy"

In [23]:
word

'anything'

In [27]:
for letter in word:
    
    if letter in vowels:
        
        print(letter)
    else:
        print("not a vowel")

a
not a vowel
y
not a vowel
not a vowel
i
not a vowel
not a vowel

In [28]:
stuff = ["cat", 3.7, 5, "dog"]

In [39]:
for item in stuff:
    
    if type(item) == str:
        
        print(item, "is a string")

cat is a string
dog is a string

In [40]:
range?

In [44]:
list(range(1,6))

[1, 2, 3, 4, 5]

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

In [52]:
for item in range(2,5):
    print(item)

2
3
4

In [53]:
for item in range(1,11):
    
    square = item**2
    
    print("The square of", item, "is", square)

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [55]:
total = 0

for num in range(0,10):
    #print(num)
    total = total + num
    print(total)
    
print(total)

0
1
3
6
10
15
21
28
36
45
45

In [63]:
price

117.06040567355166

In [65]:
total = 0

for num in range(0,100000[print(item) for item in namelist]):
    #print(num)
    total = total + num
    
    if total > 100:
    
        print(total,num)
        
        break

105 14

In [69]:
[item + "*" for item in namelist]

['Chase*', 'Spencer*', 'Dave*', 'Glenn*']

In [88]:
def hello(firstname):
    """This prints a string if not says not a string"""
    
    if type(firstname) != str:
        print("not a string")
        
    else:
        print(firstname)

In [89]:
hello?

In [90]:
def squareme(number):
    
    return number**2

In [91]:
whos

Variable    Type        Data/Info
---------------------------------
banana      str         Glenn
coupon      int         5
hello       function    <function hello at 0x000001F39D248510>
item        int         10
letter      str         g
maturity    int         10
namelist    list        n=4
num         int         14
numlist     list        n=3
price       float       117.06040567355166
principal   int         100
prive       int         0
square      int         100
squareme    function    <function squareme at 0x000001F39D248A60>
stuff       list        n=4
total       int         105
vowels      str         aeiouy
vowles      str         aeiouy
word        str         anything
year        int         10
ytm         float       0.03

In [94]:
squareme("Mike")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [97]:
for item in range(1,12):
    
    square = squareme(item)
    
    print("The square of", item, "is", square)

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100
The square of 11 is 121

In [110]:
def combine(first,last):
    "This combines a first and last name"
    
    full_name = first + " " + last
    
    #print(full_name)
    
    return full_name

In [101]:
whos

Variable    Type        Data/Info
---------------------------------
banana      str         Glenn
combine     function    <function combine at 0x000001F39D0FEC80>
combint     function    <function combint at 0x000001F39D248950>
coupon      int         5
hello       function    <function hello at 0x000001F39D248510>
item        int         11
letter      str         g
maturity    int         10
namelist    list        n=4
num         int         14
numlist     list        n=3
price       float       117.06040567355166
principal   int         100
prive       int         0
square      int         121
squareme    function    <function squareme at 0x000001F39D248A60>
stuff       list        n=4
total       int         105
vowels      str         aeiouy
vowles      str         aeiouy
word        str         anything
year        int         10
ytm         float       0.03

In [108]:
x = combine("Glenn", "Okun")

In [109]:
x

'Glenn Okun'

In [111]:
combine?

In [112]:
def bond_price(principal, maturity, coupon, ytm):

    price = 0 

    for year in range(1, maturity+1):
    
        price = price + coupon/((1+ytm)**year)
    
    price = price + principal/((1+ytm)**maturity)  
    
    return price

In [115]:
bond_price(100, 7, 5, 0.06)

94.41761856037225

In [120]:
firstname = "mike"

In [129]:
firstname.endswith("ke")

True

In [128]:
firstname.endswith?