This is the stuff we did on 02/07

In [44]:
astring = "Mike"

In [45]:
whos

Variable        Type    Data/Info
---------------------------------
astring         str     Mike
long_string     str     four score and seven years ago\nour country
mixed_list      list    n=2
num_list        list    n=4
number_string   str     12.34

In [46]:
number_string = "12.34"

In [47]:
whos

Variable        Type    Data/Info
---------------------------------
astring         str     Mike
long_string     str     four score and seven years ago\nour country
mixed_list      list    n=2
num_list        list    n=4
number_string   str     12.34

In [48]:
1+number_string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
number_string+astring

In [ ]:
long_string = """four score and seven years ago
our country"""

In [ ]:
print(long_string)

In [ ]:
num_list = [1,2,3,4]

In [ ]:
whos

In [ ]:
num_list[0]

In [ ]:
mixed_list = [2, "kids"]

In [ ]:
mixed_list[1]

In [ ]:
big_list = [num_list , mixed_list]

In [ ]:
whos

In [ ]:
big_list[1]

In [ ]:
del big_list

In [ ]:
big_list

In [ ]:
whos

In [ ]:
num_list

In [ ]:
num_list.clear?

In [ ]:
num_list.clear()

In [ ]:
whos

In [ ]:
num_list = [4,5,6]

In [49]:
whos

Variable        Type    Data/Info
---------------------------------
astring         str     Mike
long_string     str     four score and seven years ago\nour country
mixed_list      list    n=2
num_list        list    n=4
number_string   str     12.34

In [50]:
whos

Variable        Type    Data/Info
---------------------------------
astring         str     Mike
long_string     str     four score and seven years ago\nour country
mixed_list      list    n=2
num_list        list    n=4
number_string   str     12.34

In [51]:
num_list

[4, 5, 6, [17, 18]]

In [52]:
num_list[0] = 100

In [53]:
num_list

[100, 5, 6, [17, 18]]

In [54]:
my_first_tuple = (1,2,3,4)

In [55]:
whos

Variable         Type     Data/Info
-----------------------------------
astring          str      Mike
long_string      str      four score and seven years ago\nour country
mixed_list       list     n=2
my_first_tuple   tuple    n=4
num_list         list     n=4
number_string    str      12.34

In [60]:
my_first_tuple[3]

4

In [61]:
my_first_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

### Dictionary

In [62]:
names = {"Dave": "Backus", "Chase": "Colman", "Glenn": "Okun"}

In [63]:
whos

Variable         Type     Data/Info
-----------------------------------
astring          str      Mike
long_string      str      four score and seven years ago\nour country
mixed_list       list     n=2
my_first_tuple   tuple    n=4
names            dict     n=3
num_list         list     n=4
number_string    str      12.34

In [64]:
names["Dave"]

'Backus'

In [67]:
print(names)

{'Dave': 'Backus', 'Chase': 'Colman', 'Glenn': 'Okun'}

In [68]:
print(names)

{'Dave': 'Backus', 'Chase': 'Colman', 'Glenn': 'Okun'}

In [69]:
print(names)

{'Dave': 'Backus', 'Chase': 'Colman', 'Glenn': 'Okun'}

In [75]:
integer_dict = {"1": "one", "2": "two", 3: "three"}

In [77]:
integer_dict["2"]

'two'

In [78]:
new_names = {"Donald": "DucK", "Mickey": "Mouse", "Donald": "Trump"}

In [79]:
new_names

{'Donald': 'Trump', 'Mickey': 'Mouse'}

In [83]:
new_names.add({"Bill": "clinton"})

AttributeError: 'dict' object has no attribute 'add'

In [84]:
new_names["bill"] = "clinton"

In [86]:
new_names.update({"ronald": "regan"})

In [87]:
new_names

{'Donald': 'Trump', 'Mickey': 'Mouse', 'bill': 'clinton', 'ronald': 'regan'}

In [88]:
data = {'Year': [1990, 2000, 2010], 'GDP':  [8.95, 12.56, 14.78]}

In [96]:
print(data)

{'Year': [1990, 2000, 2010], 'GDP': [8.95, 12.56, 14.78]}

In [98]:
whos

Variable         Type     Data/Info
-----------------------------------
astring          str      Mike
data             dict     n=2
integer_dict     dict     n=3
long_string      str      four score and seven years ago\nour country
mixed_list       list     n=2
my_first_tuple   tuple    n=4
names            dict     n=3
new_names        dict     n=4
num_list         list     n=4
number_string    str      12.34

In [101]:
len(number_string)

5

In [102]:
len?

In [108]:
type(12.34)

float

In [109]:
x = 12.34

In [110]:
type(x)

float

In [112]:
y = str(x)

In [113]:
y

'12.34'

In [115]:
z = float(y)

In [116]:
whos

Variable         Type     Data/Info
-----------------------------------
astring          str      Mike
data             dict     n=2
integer_dict     dict     n=3
long_string      str      four score and seven years ago\nour country
mixed_list       list     n=2
my_first_tuple   tuple    n=4
names            dict     n=3
new_names        dict     n=4
num_list         list     n=4
number_string    str      12.34
x                float    12.34
y                str      12.34
z                float    12.34

In [117]:
float("Mike")

ValueError: could not convert string to float: 'Mike'

In [118]:
x

12.34

In [119]:
int(x)

12

In [120]:
int?

In [121]:
whos

Variable         Type     Data/Info
-----------------------------------
astring          str      Mike
data             dict     n=2
integer_dict     dict     n=3
long_string      str      four score and seven years ago\nour country
mixed_list       list     n=2
my_first_tuple   tuple    n=4
names            dict     n=3
new_names        dict     n=4
num_list         list     n=4
number_string    str      12.34
x                float    12.34
y                str      12.34
z                float    12.34

In [122]:
astring

'Mike'

In [125]:
len(str(list(astring))

20