This is the third class

Date: 02/05/2019

We reviewed what we had done in the past, and then worked through the following topics:

- print
- whos
- help
- strings
- lists

In [1]:
2*3

6

In [2]:
2+3

5

In [3]:
2-3

-1

In [4]:
2/3

0.6666666666666666

In [5]:
2^3

1

In [6]:
2**3

8

All this stuff above were calculations

In [7]:
x = 2

In [8]:
x

2

In [9]:
y = 3

In [12]:
x*y

8

In [13]:
y

4

In [14]:
whos

Variable   Type    Data/Info
----------------------------
x          int     2
y          int     4

In [22]:
whos

Variable   Type    Data/Info
----------------------------
x          int     2
y          int     5

This is going to be new stuff

In [25]:
x = 2
y = 5

In [27]:
print(x,y)

2 5

In [47]:
z = 6

In [57]:
my_first_string = "Chase"

In [54]:
whos

Variable          Type    Data/Info
-----------------------------------
my_first_string   str     Chase
x                 int     2
y                 int     5
z                 int     6

In [58]:
string_not_number = "12"

In [59]:
whos

Variable            Type    Data/Info
-------------------------------------
my_first_string     str     Chase
string_not_number   str     12
x                   int     2
y                   int     5
z                   int     6

In [60]:
string_not_number

'12'

In [61]:
2 + string_not_number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
a = "some"
b = "thing"

In [63]:
whos

Variable            Type    Data/Info
-------------------------------------
a                   str     some
b                   str     thing
my_first_string     str     Chase
string_not_number   str     12
x                   int     2
y                   int     5
z                   int     6

In [67]:
a + b

'something'

In [68]:
message = "the value of x is"

In [69]:
message

'the value of x is'

In [70]:
print(message,x)

the value of x is 2

In [71]:
firstname = "michael"
lastname = "waugh"

In [75]:
print(firstname, lastname)

michael waugh

In [80]:
full_name = firstname + "\n" + lastname

In [81]:
print(full_name)

michael
waugh

In [83]:
s = "string"

In [84]:
s+s

'stringstring'

In [88]:
2*s

'stringstring'

In [89]:
s*2

'stringstring'

In [90]:
test = float("inf")

In [91]:
whos

Variable            Type     Data/Info
--------------------------------------
a                   str      some
b                   str      thing
firstname           str      michael
full_name           str      michael\nwaugh
lastname            str      waugh
message             str      the value of x is
my_first_string     str      Chase
s                   str      string
string_not_number   str      12
test                float    inf
x                   int      2
y                   int      5
z                   int      6

In [92]:
test_two = 2/test

In [93]:
print(test_two)

0.0

In [94]:
whos

Variable            Type     Data/Info
--------------------------------------
a                   str      some
b                   str      thing
firstname           str      michael
full_name           str      michael\nwaugh
lastname            str      waugh
message             str      the value of x is
my_first_string     str      Chase
s                   str      string
string_not_number   str      12
test                float    inf
test_two            float    0.0
x                   int      2
y                   int      5
z                   int      6

In [95]:
w = 2.0

In [96]:
whos

Variable            Type     Data/Info
--------------------------------------
a                   str      some
b                   str      thing
firstname           str      michael
full_name           str      michael\nwaugh
lastname            str      waugh
message             str      the value of x is
my_first_string     str      Chase
s                   str      string
string_not_number   str      12
test                float    inf
test_two            float    0.0
w                   float    2.0
x                   int      2
y                   int      5
z                   int      6

In [97]:
long_string = """
Four score and seven years ago
Our fathers brought forth. """

In [98]:
print(long_string)

Four score and seven years ago
Our fathers brought forth.

This section is about **Lists**

In [99]:
my_first_list = [2, 3, 4]

In [100]:
whos

Variable            Type     Data/Info
--------------------------------------
a                   str      some
b                   str      thing
firstname           str      michael
full_name           str      michael\nwaugh
lastname            str      waugh
long_string         str      \nFour score and seven ye<...>r fathers brought forth.
message             str      the value of x is
my_first_list       list     n=3
my_first_string     str      Chase
s                   str      string
string_not_number   str      12
test                float    inf
test_two            float    0.0
w                   float    2.0
x                   int      2
y                   int      5
z                   int      6

In [101]:
string_list = [my_first_string, s, string_not_number]

In [102]:
print(string_list)

['Chase', 'string', '12']

In [103]:
mixed_list = [12, my_first_string]

In [104]:
print(mixed_list)

[12, 'Chase']

In [105]:
string_list + mixed_list

['Chase', 'string', '12', 12, 'Chase']

In [106]:
2*string_list

['Chase', 'string', '12', 'Chase', 'string', '12']

In [113]:
type(my_first_string)

str

In [115]:
len(3*string_list)

9

In [116]:
len()

5

In [117]:
whos

Variable            Type     Data/Info
--------------------------------------
a                   str      some
b                   str      thing
firstname           str      michael
full_name           str      michael\nwaugh
lastname            str      waugh
long_string         str      \nFour score and seven ye<...>r fathers brought forth.
message             str      the value of x is
mixed_list          list     n=2
my_first_list       list     n=3
my_first_string     str      Chase
s                   str      string
string_list         list     n=3
string_not_number   str      12
test                float    inf
test_two            float    0.0
w                   float    2.0
x                   int      2
y                   int      5
z                   int      6

In [118]:
len(long_string)

59