### Code for 02/12/2019

what will we do todya?

In [1]:
2*3

6

In [2]:
x = 2

In [3]:
whos

Variable   Type    Data/Info
----------------------------
x          int     2

In [4]:
y = 3.14

In [5]:
whos

Variable   Type     Data/Info
-----------------------------
x          int      2
y          float    3.14

In [6]:
name = "mike"

In [7]:
whos

Variable   Type     Data/Info
-----------------------------
name       str      mike
x          int      2
y          float    3.14

In [8]:
number = "2"

In [9]:
type(number)

str

In [10]:
number

'2'

In [11]:
alist = ["name", 2, 3.56]

In [12]:
type(alist)

list

In [13]:
alist[1]

2

In [23]:
adict = {"mike": "waugh", "bill": "waugh"}
# This is a dictionary, it has keys and values
# the keys go with the values

In [24]:
adict

{'mike': 'waugh', 'bill': 'waugh'}

In [15]:
type(adict)

dict

In [16]:
adict["mike"]

'waugh'

In [17]:
atuple = (1,2,3)

In [18]:
atuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [19]:
print("name")

name

In [20]:
type(alist)

list

In [21]:
whos

Variable   Type     Data/Info
-----------------------------
adict      dict     n=2
alist      list     n=3
atuple     tuple    n=3
name       str      mike
number     str      2
x          int      2
y          float    3.14

In [22]:
len(alist)

3

That was the recap....

now we start on Pyfun 2

In [25]:
1 > 0

True

In [26]:
x = (1>0)

In [27]:
type(x)

bool

In [28]:
1 == 0

False

In [34]:
1 != 2

True

In [35]:
not (1 > 2)

True

In [40]:
"sahra" == """sahra\n"""

False

In [41]:
type('Sarah') == str

True

In [42]:
type("Sarah") == int

False

In [45]:
len('Sarah') >= 6

False

In [47]:
type(adict) == dict

True

In [62]:
name1 = 'ss'
name2 = '\nSz'
check =  name1 < name2
print(check)

False

In [58]:
ord("s")

115

In [59]:
ord("z")

122

In [61]:
ord("S")

83

In [63]:
ord("\n")

10

In [64]:
ord?

In [66]:
chr(122)

'z'

In [67]:
chr?

Condtional operations

In [70]:
if (1 > 2):
    print("1 is greater than tw0")

In [72]:
x = 4

if x > 6:
    print("x is", x)
    

print("done")

done

In [82]:
x = "string" # this is x

condition = x > str(6) # I'm creating a variable which takes the value true or false if x is
# larger than 6


if condition: # check if statment is true, then print
    print(ord(x[0]))
    print("if branch")
    print(condition)
else: # If the condition is not true then print this stuff...
    print("else branch")
    print(condition)
    
# print this stuff no matter what.,..
print("done")

115
if branch
True
done

In [77]:
type(condition)

bool

Now we will talk about slicing

In [84]:
x[0]

's'

In [85]:
x

'string'

In [93]:
x[-7]

IndexError: string index out of range

In [94]:
along_string = "four score and seven years ago..."

In [95]:
along_string[-1]

'.'

In [96]:
whos

Variable       Type     Data/Info
---------------------------------
adict          dict     n=2
alist          list     n=3
along_string   str      four score and seven years ago...
atuple         tuple    n=3
check          bool     False
condition      bool     True
name           str      mike
name1          str      ss
name2          str      \nSz
number         str      2
x              str      string
y              float    3.14

In [97]:
alist

['name', 2, 3.56]

In [100]:
alist[-3]

'name'

In [102]:
alist[0:1]

['name']

In [103]:
x

'string'

In [117]:
x[-3:]

'ing'

In [118]:
long_string

NameError: name 'long_string' is not defined

In [119]:
whos

Variable       Type     Data/Info
---------------------------------
adict          dict     n=2
alist          list     n=3
along_string   str      four score and seven years ago...
atuple         tuple    n=3
check          bool     False
condition      bool     True
name           str      mike
name1          str      ss
name2          str      \nSz
number         str      2
x              str      string
y              float    3.14

In [120]:
along_string

'four score and seven years ago...'

In [124]:
along_string[-10:-7]

'ars'