In [1]:
import pandas as pd
import requests

In [2]:
my_key = "tx853dy4upmq6x65qcnc8cw6"

walmart_store = "http://api.walmartlabs.com/v1/stores?apiKey=" + my_key + "&zip=99501"
# This one grabs the store...

walmart_trend_items = "http://api.walmartlabs.com/v1/trends?apiKey=" + my_key
# This one grabs trending items...

walmart_product = "http://api.walmartlabs.com/v1/items/263612249081224994?apiKey=" + my_key

walmart_taxonomy = "http://api.walmartlabs.com/v1/taxonomy?apiKey=" + my_key

r = requests.get(walmart_store)

In [3]:
type(r)

requests.models.Response

In [4]:
r.headers

{'Content-Type': 'application/json; charset=utf-8', 'Date': 'Tue, 05 Mar 2019 18:19:01 GMT', 'Server': 'Mashery Proxy', 'X-Mashery-Responder': 'prod-j-worker-us-west-1c-12.mashery.com', 'Content-Length': '1262', 'Connection': 'keep-alive'}

In [5]:
df = pd.DataFrame(r.json())

In [6]:
df

,city,coordinates,country,name,no,phoneNumber,stateProvCode,streetAddress,sundayOpen,timezone,zip
0,Anchorage,"[-149.879549, 61.192213]",US,Anchorage Supercenter,2070,907-563-5900,AK,3101 A St,True,AKST,99503
1,Anchorage,"[-149.743184, 61.211988]",US,Anchorage Supercenter,4359,907-339-9039,AK,7405 Debarr Road,True,AKST,99504
2,Anchorage,"[-149.869863, 61.140195]",US,Anchorage Supercenter,2071,907-344-5300,AK,8900 Old Seward Hwy,True,AKST,99515
3,Eagle River,"[-149.535439, 61.309037]",US,Eagle River Supercenter,2188,907-694-9780,AK,18600 Eagle River Rd,True,AKST,99577
4,Wasilla,"[-149.365105, 61.568719]",US,Wasilla Supercenter,2074,907-376-9780,AK,1350 S Seward Meridian Pkwy,True,AKST,99654