This is our first class with pandas

In [1]:
import pandas as pd

In [2]:
whos

Variable   Type      Data/Info
------------------------------
pd         module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [50]:
gdp_dict = {"GDP": [5974.7, 10031.0, 14681.1],
                   "CPI": [127.5, 169.3, 217.488],
                   "Year": [1990, 2000, 2010],
                   "Country": ["US", "US", "US"]}

In [51]:
df = pd.DataFrame(gdp_dict)

In [5]:
print(df)

       GDP      CPI  Year Country
0   5974.7  127.500  1990      US
1  10031.0  169.300  2000      US
2  14681.1  217.488  2010      US

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(3, 4)

In [8]:
df.dtypes

GDP        float64
CPI        float64
Year         int64
Country     object
dtype: object

In [11]:
df.columns.tolist()

['GDP', 'CPI', 'Year', 'Country']

In [13]:
df.index.tolist()

[0, 1, 2]

In [14]:
pwt =  {'countrycode': ['CHN', 'CHN', 'CHN', 'FRA', 'FRA', 'FRA'],
        'pop': [1124.8, 1246.8, 1318.2, 58.2, 60.8, 64.7],
        'rgdpe': [2.611, 4.951, 11.106, 1.294, 1.753, 2.032],
        'year': [1990, 2000, 2010, 1990, 2000, 2010]}

In [15]:
df_pwt = pd.DataFrame(pwt)

In [16]:
print(df_pwt)

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

In [20]:
df_pwt.index.tolist()

[0, 1, 2, 3, 4, 5]

In [24]:
df_pwt

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

In [25]:
df_pwt.T

                  0       1       2      3      4      5
countrycode     CHN     CHN     CHN    FRA    FRA    FRA
pop          1124.8  1246.8  1318.2   58.2   60.8   64.7
rgdpe         2.611   4.951  11.106  1.294  1.753  2.032
year           1990    2000    2010   1990   2000   2010

In [29]:
type(df["GDP"])

pandas.core.series.Series

In [31]:
df

       GDP      CPI  Year Country
0   5974.7  127.500  1990      US
1  10031.0  169.300  2000      US
2  14681.1  217.488  2010      US

In [33]:
type(df[["GDP", "CPI"]])

pandas.core.frame.DataFrame

In [39]:
df["GDP"]

0     5974.7
1    10031.0
2    14681.1
Name: GDP, dtype: float64

In [52]:
df["Real_GDP"] = df["GDP"] / df["CPI"]

       GDP      CPI  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [44]:
new_df = df[["GDP", "CPI", "Real_GDP", "Country", "Year"]]

In [45]:
new_df

       GDP      CPI   Real_GDP Country  Year
0   5974.7  127.500  46.860392      US  1990
1  10031.0  169.300  59.249852      US  2000
2  14681.1  217.488  67.503035      US  2010

In [53]:
df

       GDP      CPI  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [54]:
df.columns = ["gdp", "cpi", "year", "country"]

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [49]:
df

       gdp      cpi  year country   real_gdp
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [55]:
df.rename?

In [56]:
df

       GDP      CPI  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [65]:
df.rename({"GDP": "gdp", "CPI": "cpi"}, axis = 1)

       gdp      cpi  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [66]:
df.mean?

In [73]:
df

       GDP      CPI  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [76]:
new_df = df.drop(["Country"], axis = 1)

In [78]:
df.drop(["Country"], axis = 1, inplace = True)

In [84]:
df.mean(axis = 1)

0    2034.765098
1    3064.887463
2    4244.022759
dtype: float64

In [81]:
type(df.mean())

pandas.core.series.Series

In [70]:
df.drop([0], axis = 0)

       GDP      CPI  Year Country   Real_GDP
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [71]:
df

       GDP      CPI  Year Country   Real_GDP
0   5974.7  127.500  1990      US  46.860392
1  10031.0  169.300  2000      US  59.249852
2  14681.1  217.488  2010      US  67.503035

In [72]:
df.drop?

In [92]:
df

       GDP      CPI  Year   Real_GDP
0   5974.7  127.500  1990  46.860392
1  10031.0  169.300  2000  59.249852
2  14681.1  217.488  2010  67.503035

In [93]:
df["GDP"]

0     5974.7
1    10031.0
2    14681.1
Name: GDP, dtype: float64

In [94]:
df.GDP

0     5974.7
1    10031.0
2    14681.1
Name: GDP, dtype: float64

In [95]:
df.CPI

0    127.500
1    169.300
2    217.488
Name: CPI, dtype: float64

In [96]:
df["RGDP"] = df.GDP / df.CPI

In [97]:
df

       GDP      CPI  Year   Real_GDP       RGDP
0   5974.7  127.500  1990  46.860392  46.860392
1  10031.0  169.300  2000  59.249852  59.249852
2  14681.1  217.488  2010  67.503035  67.503035

In [99]:
whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame           GDP      CPI  Year<...>010  67.503035  67.503035
df_pwt     DataFrame      countrycode     pop   r<...>FRA    64.7   2.032  2010
gdp_dict   dict         n=4
new_df     DataFrame           GDP      CPI  Year<...> 217.488  2010  67.503035
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
pwt        dict         n=4

In [101]:
df_pwt.head()

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000

In [104]:
df_pwt.tail()

  countrycode     pop   rgdpe  year
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

In [105]:
df_pwt.index.tolist()

[0, 1, 2, 3, 4, 5]

In [106]:
df_pwt.set_index?

In [111]:
df.set_index(["Year"], inplace = True)

In [112]:
df

          GDP      CPI   Real_GDP       RGDP
Year
1990   5974.7  127.500  46.860392  46.860392
2000  10031.0  169.300  59.249852  59.249852
2010  14681.1  217.488  67.503035  67.503035

In [113]:
df.index.tolist()

[1990, 2000, 2010]

In [116]:
df.loc[df.index > 1990]

          GDP      CPI   Real_GDP       RGDP
Year
2000  10031.0  169.300  59.249852  59.249852
2010  14681.1  217.488  67.503035  67.503035

In [117]:
df

          GDP      CPI   Real_GDP       RGDP
Year
1990   5974.7  127.500  46.860392  46.860392
2000  10031.0  169.300  59.249852  59.249852
2010  14681.1  217.488  67.503035  67.503035

In [119]:
df_pwt.set_index(["year"], inplace = True)

In [121]:
df_pwt.loc[[1990]]

     countrycode     pop  rgdpe
year
1990         CHN  1124.8  2.611
1990         FRA    58.2  1.294

In [125]:
df.iloc[2]

GDP         14681.100000
CPI           217.488000
Real_GDP       67.503035
RGDP           67.503035
Name: 2010, dtype: float64

In [126]:
df

          GDP      CPI   Real_GDP       RGDP
Year
1990   5974.7  127.500  46.860392  46.860392
2000  10031.0  169.300  59.249852  59.249852
2010  14681.1  217.488  67.503035  67.503035